<h1>Admin access for test hotmail: admin@hotmail.com      psw:123123 </h1>
<% @products.each do |p| %>
<div class="page">
  <div class="card" style="width: 18rem;margin-top: 20px;">
    <img class="card-img-top" src="http://www.martikfamilydental.com/thedentalsitecontent/100043/Image/shutterstock_151234022_conflict-20140520-150257.jpg" alt="Teeth Whitening">
    <div class="card-body">
      <h5 class="card-title"><%= p.title %></h5>
      <p class="card-text"><%= p.description %></p>
      <p class="card-text">Price: <span style="color:red"><%= p.price %></span></p>
    </div>
  </div>
</div> hotmail
<% end %>
