<div style="width:800px;">
  <form  accept-charset="UTF-8" action ="/new" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" name="title" class="form-control" id="title" placeholder="Enter Title" style="width:200px;">
    </div>


          <img id="blah" src="#" alt="your image" /></br>
          <input name="image_link" type='file' id="imgInp" />



    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <textarea name="description" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>







<script>
function readURL(input) {
     if (input.files && input.files[0]) {
         var reader = new FileReader();
         
         reader.onload = function (e) {
             $('#blah').attr('src', e.target.result);
         }
         
         reader.readAsDataURL(input.files[0]);
     }
 }
 
 $("#imgInp").change(function(){
     readURL(this);
 });
</script>